<div class="container">
  <div class="container-inner inner-default clearfix">
    <% works.order("created_at desc").each do |work| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">

            <%= link_to image_tag(work.video_url(:screenshot).to_s, id: "video", :alt => "screenshot"), work %>

          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= work.title %>
            <!-- period date -->
        </div>
      </div>
    <% end %>
  </div>
</div>
