html {
  position: relative;
  min-height: 100%;

}

body {
    font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    padding-top: 70px;
    margin-bottom: 120px;
    min-height: 1800px;
    background-color: #222222;
    font-size: 15px;
    color: #292F33;
}

.header {
  background-color: #222222;
  border: none;

}

.navbar-default {
  .navbar-nav li a {
    color: #FFFFFF;
  }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    padding: 10px;
    text-align: center;
        .navbar-nav{
            margin: 0 auto;
            display: table;
            table-layout: fixed;
            float:none;
            color: #FFFFFF;
            font-size: .8em;
            letter-spacing: .225em;
            list-style: none;
        }
        a {
          color: #FFFFFF;
        }
}

.jumbotron {
        margin-top: -20px;
        margin-left: -155px;
        margin-right: -155px;
        height: 750px;
        overflow:hidden;
        background-image: url(/dance_dark_cover.jpeg);
        background-size: cover;
        background-position: center 80%;
        background-repeat: no-repeat;


    .resizeimage {
        width: 100%;
        max-width: 500px; /* 最大幅 */
        min-width: 240px; /* 最小幅 */
    }
    h1 {
        font-family: 'Noto Sans Japanese';
        font-size: 78px;
        letter-spacing: 0.15em;
        font-weight: bold;
        margin-top: 0px;
        text-align: center;
        color: #FFFFFF;
    }
    p {
        font-family: 'Noto Sans Japanese';
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
        color: #FFFFFF;
    }

    .btn {
        margin-top: 180px;
    }

}

.google-btn {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 767px){
   .jumbotron {
    height: 550px;
    background-image: url(/dance_dark_cover.jpeg);
    background-size: cover;
   }
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
