// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  background-color: #FFFFFF;
  width: auto;
  height: 1400px;
  padding: 100px;
}
.edit-work {
  border-radius: 10px 5px;
  box-shadow: 1px 2px 3px #444;
  background-color: white;
  padding: 20px;
}

.workbox {
  background-color: white;
  height: 1200px;
  width: auto;
  padding: 20px;
}

.work-p {
  margin: 30px;
}

// youtube responsive
.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 30px;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 630px;
  max-height: 354px;
}

.youtube-container-s iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 200px;
}

.item-box {
  width: 320px;
  margin: 15px;
  float: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  .image {
    width: 320px;
    height: 250px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 320px;
      height: 250px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }
  .detail {
    height: 55px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fafafa;
    font-size: 13px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .title {
      margin: 0;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .date {
        text-align: right;
    }
  }
  .action {
    form {
      float: left;
      margin: 0 3px 0 0;
    }
  }
  &:hover {
    .action {
      display: block;
    }
  }
}
